@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Default css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #01001F;
  color: white;
}

/* Utility CSS */

.purple{
  color: #E5C229;
  font-weight: 700;
}

/* Custom Css */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #18163b;
}

.logo {
  margin: 1rem 0;
}

.logo h5 {
  margin: 0;
  padding: 0;

}

.pageList {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.pageList .page {
  padding: 1rem 2rem;
  list-style: none;
}

.pageList .page a{
  text-decoration: none;
  color: white;
}

.pageList .page a:hover{
  color: #E5C32B;
  border-bottom: 0.5px solid #E5C229;
}

.container  .myIntro {
  padding: 0;
  margin: 0;
  text-align: center;
}

.mainRight .developerImg{
  width: 80%;
  margin: 1rem 0;
}



